#orange {
    height: 100px;
    background-color: orange;
}

#gold {
    height: 100px;
    background-color: gold;
}

#blue {
    height: 100px;
    background-color: blue;
}

#purple {
    height: 100px; background-color: purple;
}

#green {
    height: 100px; background-color: green;
}

#pink {
    height: 100px; background-color: pink;
}

#yellow {
    height: 100px; background-color: yellow;
}

#brown {
    height: 100px; background-color: brown;
}

#red {
    height: 100px; background-color: red;
}